@*
    DevelopeR: Alimohammad Eghbaldar: https://eghbaldar.ir
*@
@using alefbafilm6.Application.Services.Productions.Queries.GetProductions
@model ResultGetProductionsServiceDto;
@{
    ViewData["Title"] = "مشاهده تولیدات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">تولیدات الفبا</h4>
                <p class="sub-header">لیست تولیدات الفبا در زیر قابل مشاهده است</p>
                <div class="table-responsive">
                    <table class="table table-centered mb-0" id="tblProductions">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>عنوان</th>
                                <th>دسته</th>
                                <th>ژانر</th>
                                <th>تاریخ درج</th>
                                <th class="tabledit-toolbar-column"></th>
                                <th class="tabledit-toolbar-column"></th>
                                <th class="tabledit-toolbar-column"></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.resultGetProductionsServiceDto)
                            {
                                <tr id="1">
                                    <td><span class="tabledit-span tabledit-identifier">@item.Id</span><input class="tabledit-input tabledit-identifier" type="hidden" name="id" value="1" disabled=""></td>
                                    <td><span class="tabledit-span tabledit-identifier">@item.Title</span><input class="tabledit-input tabledit-identifier" type="hidden" name="id" value="1" disabled=""></td>
                                    <td><span class="tabledit-span tabledit-identifier">@item.CategoryName</span><input class="tabledit-input tabledit-identifier" type="hidden" name="id" value="1" disabled=""></td>
                                    <td><span class="tabledit-span tabledit-identifier">@item.Genre</span><input class="tabledit-input tabledit-identifier" type="hidden" name="id" value="1" disabled=""></td>
                                    <td class="tabledit-view-mode"><span class="tabledit-span">@item.InsertTime</span><input class="tabledit-input form-control form-control-sm" type="text" name="col2" value="" style="display: none;" disabled=""></td>

                                    <td style="white-space: nowrap; width: 1%;">
                                        <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                            <div class="btn-group btn-group-sm" style="float: none;">
                                                <button onclick="ModalShow('@item.Description',
'@item.Time','@item.ProductionDate','@item.PhotoBig','@item.PhotoSmall')"
                                                    class="btn btn-icon waves-effect btn-secondary">
                                                    <i class="ti-receipt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="white-space: nowrap; width: 1%;">
                                        <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                            <div class="btn-group btn-group-sm" style="float: none;">
                                                <button onclick="PreUpdate()"
                                                    class="btn btn-icon waves-effect waves-light btn-success">
                                                    <i class="ti-pencil"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>


                                    <td style="white-space: nowrap; width: 1%;">
                                        <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                            <div class="btn-group btn-group-sm" style="float: none;">
                                                <button class="btn btn-icon waves-effect waves-light btn-danger">
                                                    <i class="ti-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div> <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>

@section Scripts{
    <script>
        function ModalShow(description, time, productionDate, pBig, pSmall) {
            var ROOT = '@Url.Content("~/images/production/")';
            $('#IdModalShowPhotoBig').attr("src", ROOT + pBig);
            $('#IdModalShowPhotoBigLink').attr("href", ROOT + pBig);
            $('#IdModalShowPhotoSmall').attr("src", ROOT + pSmall);
            $('#IdModalShowPhotoSmallLink').attr("href", ROOT + pSmall);
            $('#IdModalShowProductionDate').text(productionDate);
            $('#IdModalShowDescription').text(description);
            $('#IdModalShowTime').text(time);
            $('#myModalShow').modal('show');
        }
        function PreUpdate() {

            $('#myModalUpdate').modal('show');
        }
    </script>
}

@section Modals{
    <!-- Modal - Show -->
    <div id="myModalShow" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="formdataUpdate" asp-action="UpdateUser" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel">جزییات اثر</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <h6>جزییات:</h6>
                        <span id="IdModalShowDescription">
                        </span>
                        <br />
                        <h6>زمان:</h6>
                        <span id="IdModalShowTime">
                        </span>
                        <br />
                        <h6>تاریخ تولید:</h6>
                        <span id="IdModalShowProductionDate">
                        </span>
                        <br />
                        <div>
                            <div>
                                <div>
                                    <div class="gal-detail thumb">
                                        <div class="text-center">
                                            <p class="font-13 text-muted mb-2">تصویر بزرگ و اصلی</p>
                                        </div>
                                        <a id="IdModalShowPhotoBigLink" target="_blank" class="image-popup" title="اسکرین شات 1">
                                            <img id="IdModalShowPhotoBig"
                                                class="thumb-img img-fluid" alt="تصویر ندارد">
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="gal-detail thumb">
                                        <div class="text-center">
                                            <p class="font-13 text-muted mb-2">تصویر کوچک و فرعی</p>
                                        </div>
                                        <a id="IdModalShowPhotoSmallLink" target="_blank" class="image-popup" title="اسکرین شات 2">
                                            <img id="IdModalShowPhotoSmall"
                                                class="thumb-img img-fluid"
                                             alt="تصویر ندارد">
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                        <button type="button"
                            onclick="UpdateUser()"
                            class="btn btn-primary waves-effect waves-light">
                            ذخیره تغییرات
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal - Update-->
    <div id="myModalUpdate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="formdataUpdate" asp-action="UpdateUser" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">ویرایش کاربر</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="txtEditIdUser" />

                        <br />
                        <input asp-for="Users[0].fullname"
                           type="text"
                           class="form-control"
                           id="txtEditFullname" />
                        <span asp-validation-for="Users[0].fullname"
                          class="text-danger"
                          data-valmsg-for="Users[0].fullname">
                        </span>

                        <br />

                        <input name="Users[0].email"
                           asp-for="Users[0].email"
                           type="text"
                           style="direction:ltr;"
                           class="form-control"
                           placeholder="پست الکترونیکی معتبر"
                           id="txtEditEmail" />
                        <span asp-validation-for="Users[0].email"
                          class="text-danger"
                          data-valmsg-for="Users[0].email">
                        </span>



                        <br />
                        <input type="checkbox" onchange="changeCheckbox(this)" id="chkPassword" name="chkPassword">
                        <label for="chkPassword"> پسورد نیز تغییر کند</label><br>

                        <input name="Users[0].password"
                           asp-for="Users[0].password"
                           type="text"
                           disabled="disabled"
                           style="direction:ltr;"
                           class="form-control"
                           id="txtEditPassword" />
                        <span asp-validation-for="Users[0].password"
                          class="text-danger"
                          data-valmsg-for="Users[0].password">
                        </span>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                        <button type="button"
                            onclick="UpdateUser()"
                            class="btn btn-primary waves-effect waves-light">
                            ذخیره تغییرات
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}