@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using alefbafilm6.Application.Services.Gallery.Queries.Common
@model GetGalleryPhotosForAdminPhotos

@{
    ViewData["Title"] = "گالری تصاویر الفبا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
ٌ<main class="main">



    <div class="container">
                    <div class="row">
                <div class="col-lg-2 col-sm-1 col-12"></div>
                <div class="col-lg-8 col-sm-10 col-12 text-center">
                <h2 class="text-heading-1 color-gray-900">گالری تصاویر الفبا</h2>
                    <p class="text-body-lead-large color-gray-600 mt-20">
                        تصاویری از پروژه های انجام شده و یا در حال انجام</p>
                </div>
                <div class="col-lg-2 col-sm-1 col-12"></div>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="popular-search mt-100">
                    <h2 class="text-heading-4">دسته بندی ها</h2>
                    <div class="portfolioFilter">
                        <ul class="list-search-popular">

                            @foreach (var cat in Model._resultGetGalleryCategoryDto.GalleryCategory)
                            {
                                <li><a class="btn btn-border waves-effect waves-primary" data-filter=".@cat.Id">@cat.Name</a></li>
                            }

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row d-flex justify-content-center">

            <div class="col-lg-12  text-center">



                <div class="portfolioContainer">
                    @foreach (var photo in Model._resultGetGalleryPhotosServiceDto.GetGalleryPhotosServiceDto)
                    {
                        <div class="col-lg-3 @photo.IdCategory" style="

position: absolute; left: 0px; top: 0px;">
                            <div class="gal-detail thumb" style="padding:15px;

">
                                <a href="~/images/gallery/@photo.Filename" class="image-popup" title="@photo.Name">
                                    <img src="~/images/gallery/@photo.Filename"
                                     style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px;"
                                     class="thumb-img img-fluid" alt="@photo.Name">
                                </a>

                                <div class="text-center">
                                    <h4>@photo.Name</h4>
                                    <p class="font-13 text-muted mb-2">@photo.NameCategory</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>


            </div>
        </div>
    </div>

</main>




@section Styles{
    <!--venobox lightbox-->
    <link rel="stylesheet" href="~/admintemplate/libs/magnific-popup/magnific-popup.css" />
    <style>
        @@media (max-width: 900px) {
            .col-lg-3 {
                width: 100%;
                text-align: center;
                align-items: center;
            }
        }
    </style>
}
@section Scripts{
    <!-- isotope filter plugin -->
    <script src="~/admintemplate/libs/isotope/isotope.pkgd.min.js"></script>
    <!--venobox lightbox-->
    <script src="~/admintemplate/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Gallery Init-->
    <script src="~/admintemplate/js/pages/gallery.init.js"></script>
}