@*
    Delevloper: Alimohammad Eghbaldar
*@
@{
    ViewData["Title"] = "وب سایت رسمی شرکت فیلمسازی الفبا";
}

<main class="main">
    <section class="section-box">
        <div class="banner-hero banner-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h1 class="text-display-2">
                            الفبا تولید کننده <span class="color-green-900">محتوای آموزشی</span> موزیکال کودکان
                        </h1>
                        <p class="text-body-lead-large color-gray-500 mt-40 pr-40">
                            تولید فیلم های کوتاه، استاپ موشن، کمیک موشن، انیمیشن و ...
                        </p>
                        <div class="mt-40">
                            <a class="btn btn-black icon-arrow-right-white" href="~/home/aboutus">
                                درباره‌ی الفبا ...
                            </a><a class=" btn btn-link icon-arrow-right color-gray-900 text-heading-6"
                            href="~/home/production">تولیدات</a>
                        </div>
                    </div>
                    <div class="col-lg-5 d-none d-lg-block">
                        <div class="banner-imgs">
@*                            <div class="video-block shape-1"><a class="popup-youtube btn-play-video" href="javascript:if(confirm('https://www.youtube.com/watch?v=oRI37cOPBQQ\n\nاین فایل بازیابی نشد زیرا توسط تنظیمات پروژه شما فیلتر شده بود.\n\nآیا می‌خواهید آن را از سرور باز کنید؟'))window.location='https://www.youtube.com/watch?v=oRI37cOPBQQ'"></a><span class="text-heading-4">تماشای ویدئو اینترو</span></div>*@
                            <img class="img-responsive shape-2" alt="alefbafilm" src="~/SiteTemplate/imgs/page/homepage1/banner.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box">
        @foreach (var item in Model.resultGetProductionsServiceDto)
        {
            <div class="container mt-70">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 mb-30">
                        <span class="tag-1 bg-6 color-green-900">@item.GenreName</span>
                        <h3 class="text-heading-1 mt-30">@item.Title</h3>
                        <p class="text-body-lead-large color-gray-600 mt-30">
                            @item.Description
                        </p>
                        <div class="line-bd-green mt-50"></div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-12 mt-50">
                                <h4 class="text-heading-6 icon-leaf">تاریخ تولید</h4>
                                <p class="text-body-excerpt color-gray-600 mt-15">
                                    @item.ProductionDate_Persian
                                </p>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12 mt-50">
                                <h4 class="text-heading-6 icon-leaf">زمان اثر</h4>
                                <p class="text-body-excerpt color-gray-600 mt-15">
                                    @item.Time
                                </p>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12 mt-50">
                                <h4 class="text-heading-6 icon-leaf">دسته</h4>
                                <p class="text-body-excerpt color-gray-600 mt-15">
                                    @item.Category
                                </p>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12 mt-50">
                                <h4 class="text-heading-6 icon-leaf">ژانر</h4>
                                <p class="text-body-excerpt color-gray-600 mt-15">
                                    @item.GenreName
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 block-we-do">
                        <div class="inner-image">
                            <img class="bdrd-16 img-responsive"
                             src="~/images/production/@item.PhotoBig" alt="alefbafilm">
                            <div class="block-image-bottom">
                                <img class="bdrd-16 img-responsive"
                                 src="~/images/production/@item.PhotoSmall" alt="alefbafilm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
    <br /><br />
</main>