@using alefbafilms.application.Services.Users.Queries.GetUsers
@model ResultGetUsersDto;
@*
    Delevloper: Alimohammad Eghbaldar
*@
@{
    ViewData["Title"] = "مدیریت کاربران";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">ویرایش کاربران</h4>
                <div class="table-responsive">
                    <table class="table table-centered mb-0" id="btn-editable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>نام</th>
                                <th>ایمیل</th>
                                <th class="tabledit-toolbar-column"></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr id="1">
                                    <td><span class="tabledit-span tabledit-identifier">1</span><input class="tabledit-input tabledit-identifier" type="hidden" name="id" value="1" disabled=""></td>
                                    <td class="tabledit-view-mode"><span class="tabledit-span">@item.id</span><input class="tabledit-input form-control form-control-sm" type="text" name="col1" style="display: none;" disabled=""></td>
                                    <td class="tabledit-view-mode"><span class="tabledit-span">@item.fullname</span><input class="tabledit-input form-control form-control-sm" type="text" name="col1" style="display: none;" disabled=""></td>
                                    <td class="tabledit-view-mode"><span class="tabledit-span">@item.email</span><input class="tabledit-input form-control form-control-sm" type="text" name="col2"  style="display: none;" disabled=""></td>
                                    <td style="white-space: nowrap; width: 1%;">
                                        <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                            <div class="btn-group btn-group-sm" style="float: none;">
                                                <button type="button"
                                                    onclick="PreUpdateUser('@item.id','@item.fullname','@item.email')"
                                                    class="tabledit-edit-button btn btn-success" style="float: none;">
                                                    <span class="mdi mdi-pencil">
                                                    </span>
                                                </button>
                                                <button onclick="DeleteUser('@item.id')"
                                                    class="btn btn-icon waves-effect waves-light btn-danger">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                @if (item.IsActive)
                                                {
                                                    <button onclick="ActiveUser('@item.id')" class="btn btn-primary waves-effect waves-light btn-sm">
                                                        وضعیت: فعال
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button onclick="ActiveUser('@item.id')" class="btn btn-lighten-secondary waves-effect waves-light btn-sm">
                                                        وضعیت: غیرفعال
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div> <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>




@section Scripts{
    <script>
        function ActiveUser(IdUser) {
            Swal.fire({
                title: 'تغییر وضعیت کاربر',
                text: 'از تغییر مطمئن هستید؟',
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#000222',
                cancelButtonColor: '#000222',
                confirmButtonText: 'بلی',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var Data = { 'IdUser': IdUser };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: 'POST',
                        url: '/Admin/Users/ActiveUser/',
                        data: Data,
                        success: function (data) {
                            if (data.isSuccess) {
                                Swal.fire(
                                    'عملیات موفق آمیز بوده است',
                                    data.message,
                                    'success'
                                ).then(
                                    function () {
                                        location.reload();
                                    }
                                );
                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });

                }
                else {
                    Swal.fire("NO");
                }
            }
            );
        }
        function DeleteUser(IdUser) {
            Swal.fire(
                {
                    title: 'Register!',
                    text: 'Do you want to DELETE this user?',
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#000222',
                    cancelButtonColor: '#000222',
                    confirmButtonText: 'Yes, Do It',
                    cancelButtonText: 'No'
                }
            ).then((result) => {
                if (result.value) {

                    var Data = { 'IdUser': IdUser };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: 'POST',
                        url: '/Admin/Users/Index/',
                        data: Data,
                        success: function (data) {
                            if (data.isSuccess)
                                Swal.fire('correct');
                            else
                                Swal.fire('wrong');
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                }
                else {
                    Swal.fire("No");
                }
            });
        }
        function PreUpdateUser(IdUser, Fullname, Email) {

            $('#txtEditIdUser').val(IdUser);
            $('#txtEditFullname').val(Fullname);
            $('#txtEditEmail').val(Email);

            $('#myModal').modal('show');
        }
        function UpdateUser() {

            var IdUser = $("#txtEditIdUser").val();
            var EditedEmail = $("#txtEditFullname").val();
            var EditedPassword = $("#txtEditEmail").val();
            var EditedFullname = $("#txtEditPassword").val();

            var Data = {
                'IdUser': IdUser,
                'Fullname': EditedEmail,
                'Email': EditedPassword,
                'Password': EditedFullname
            };

            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: 'POST',
                data: Data,
                url: '/Admin/Users/UpdateUser',
                success: function (data) {
                    if (data.isSuccess) {
                        Swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function(){
                            location.reload();
                        });
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });

            $('#myModal').modal('hide');

        }
    </script>
}
@section Modals{
    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">ویرایش کاربر</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="txtEditIdUser" />
                    <input class="form-control" id="txtEditFullname" />
                    <br/>
                    <input class="form-control" style="direction:ltr;" id="txtEditEmail" />
                    <br />
                    <input class="form-control" id="txtEditPassword" placeholder="پسورد جدید را وارد کنید" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                    <button type="button" onclick="UpdateUser()" class="btn btn-primary waves-effect waves-light">ذخیره تغییرات</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}