@using alefbafilm6.Application.Services.Staff.Queries.GetStaff
@model ResultGetStaffServiceDto
@*
    Developer: Alimohammad Eghbaldar
*@
@{
    ViewData["Title"] = "مدیریت کارمندان";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">

    <!-- Show -->
    <div class="row">
        @foreach (var item in Model._resultGetStaffServiceDto)
        {
            <div class="col-xl-3 col-md-6">
                <div class="card-box widget-user">
                    <div>
                        <div class="avatar-lg float-left mr-3">
                            <img src="~/images/staff/@item.File" width="50px"
                             class="img-fluid rounded" alt="@item.Name">
                        </div>
                        <div class="wid-u-info">
                            <h5 class="mt-0">@item.Name</h5>
                            <p class="text-muted mb-1 font-13 text-truncate">@item.Detail</p>
                            <small class="text-warning"><b>@item.Title</b></small>
                        </div>
                        <hr />
                        <div class="btn-group btn-group-sm" style="float: none;">
                            <button type="button"
                                onclick="PreUpdate('@item.Id','@item.Name','@item.Title','@item.Detail')"
                                class="tabledit-edit-button btn btn-success" style="float: none;">
                                <span class="mdi mdi-pencil">
                                </span>
                            </button>
                            <button onclick="Delete(@item.Id)" class="btn btn-icon waves-effect waves-light btn-danger">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>

    <!-- Add -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title">اضافه کردن کارمند جدید</h4>

                    <div class="row">
                        <div class="col-12">
                            <div class="p-2">

                                <div class="form-group row">
                                    <label class="col-sm-2  col-form-label" for="simpleinput">نام کارمند:</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="txtFullname" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2  col-form-label" for="example-email">سمت:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="txtPosition" name="example-email" class="form-control"
                                           placeholder="سمت کارمند">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2  col-form-label" for="example-email">توضیحات:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="txtDetail" name="example-email" class="form-control"
                                           placeholder="توضیحات">
                                </div>
                            </div>

                            <div class="dropify-message">
                                <span class="file-icon">

                            </div><div class="dropify-loader"></div><div class="dropify-errors-container">
                                <ul></ul>
                            </div>

                            <input type="file" id="inputFile" class="dropify" data-height="300">

                            <div class="dropify-preview">
                                <span class="dropify-render"></span>
                                <div class="dropify-infos">
                                    <div class="dropify-infos-inner">
                                        <p class="dropify-filename">
                                            <span class="file-icon">

                                            </span> <span class="dropify-filename-inner"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button onclick="Add()" class="btn btn-primary">درج کارمند</button>
                </div>

            </div>
            <!-- end row -->

        </div> <!-- end card-box -->
    </div>


</div>

@section Styles{
    <link href="~/AdminTemplate/libs/dropify/dropify.min.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/AdminTemplate/libs/dropify/dropify.min.js"></script>
    <script src="~/AdminTemplate/js/pages/form-fileupload.init.js"></script>
    <script>
        function Add() {

            var postData = new FormData();
            postData.append("Name", $("#txtFullname").val());
            postData.append("Title", $("#txtPosition").val());
            postData.append("Detail", $("#txtDetail").val());

            var Image = document.getElementById("inputFile");
            postData.append("File", Image.files[0]);

            $.ajax({
                contentType: false,
                processData: false,
                type: 'POST',
                data: postData,
                url: 'index',
                success: function (data) {
                    if (data.isSuccess) {
                        Swal.fire(data.message);
                        location.reload();
                    }
                },
                error: function (request, status, error) {
                    alert('err:' + request.responseText);
                }
            });

        }
        function Delete(id) {

            Swal.fire({
                title: 'حذف این کارمند!',
                text: 'مطمئن هستید؟',
                icon: 'error',
                showCancelButton: true,
                confirmButtonColor: '#000222',
                cancelButtonColor: '#000222',
                confirmButtonText: 'بلی',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = { 'Id': id };
                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: 'POST',
                        data: postData,
                        url: 'Delete',
                        success: function (data) {
                            if (data.isSuccess) {
                                Swal.fire('everything went well!');
                                location.reload();
                            }
                        },
                        error: function (request, status, erro) {
                            alert('err: ' + request.responseText);
                        }
                    });
                }
            }
            );

        }
        function PreUpdate(Id, Name, Title, Detail) {

            $("#txtEditId").val(Id);
            $("#txtEditName").val(Name);
            $("#txtEditTitle").val(Title);
            $("#txtEditDetail").val(Detail);
            $("#myModal").modal("show");
        }
        function Update() {

            var postData = new FormData();
            postData.append("Id", $("#txtEditId").val());
            postData.append("Name", $("#txtEditName").val());
            postData.append("Title", $("#txtEditTitle").val());
            postData.append("Detail", $("#txtEditDetail").val(),);

            var Image = document.getElementById("inputFileEdit");
            postData.append("File", Image.files[0]);

            $.ajax({
                contentType: false,
                processData: false,
                type: 'POST',
                data: postData,
                url: 'Update',
                success: function (data) {
                    if (data.isSuccess) {
                        Swal.fire(data.message);
                        location.reload();
                    }
                },
                error: function (request, status, error) {
                    alert('err: ' + request.responseText);
                }
            });

        }
    </script>
}
@section Modals{
    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">ویرایش کارمند</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="txtEditId" />
                    <input class="form-control" id="txtEditName" />
                    <input class="form-control" id="txtEditTitle" />
                    <input class="form-control" id="txtEditDetail" />
                    <input type="file" id="inputFileEdit">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                    <button type="button" onclick="Update()" class="btn btn-primary waves-effect waves-light">ذخیره تغییرات</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}