@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using alefbafilm6.Application.Services.Gallery.Queries.GetGalleryCategory
@model ResultGetGalleryCategoryDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "مدیریت دسته بندی ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">

    <!-- Add Gallery Category-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <form id="frmAddCate" asp-action="PostCategory" method="post">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title">اضافه کردن دسته گالری</h4>

                        <div class="row">
                            <div class="col-12">
                                <div class="p-2">
                                    <div class="form-group row">
                                        <label class="col-sm-2  col-form-label" for="simpleinput">نام دسته :</label>
                                        <div class="col-sm-10">
                                            <input asp-for="GalleryCategory[0].Name"
                                                   name="GalleryCategory[0].Name"
                                                   value=""
                                                   type="text"
                                                   id="txtname"
                                                   class="form-control">
                                            <span asp-validation-for="GalleryCategory[0].Name"
                                                  class="text-danger" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <button type="button" onclick="Add()" class="btn btn-primary">درج دسته</button>
                    </div>
                </form>
            </div>
            <!-- end row -->

        </div> <!-- end card-box -->
    </div>
    <!-- End -->
    <!-- Add Gallery Category-->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="mt-0 header-title">مشاهده و ویرایش دسته‌های گالری</h4>
                    <p class="sub-header">جهت حذف روی دکمه قرمز و ویرایش دکمه سبز کلیک کنید</p>
                    <div class="table-responsive">
                        <table class="table table-centered mb-0" id="btn-editable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>نام دسته</th>
                                    <th class="tabledit-toolbar-column"></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.GalleryCategory)
                                {
                                    <tr id="1">
                                        <td class="tabledit-view-mode"><span class="tabledit-span">@item.Id</span><input class="tabledit-input form-control form-control-sm" type="text" name="col1" style="display: none;" disabled=""></td>
                                        <td class="tabledit-view-mode"><span class="tabledit-span">@item.Name</span><input class="tabledit-input form-control form-control-sm" type="text" name="col1" style="display: none;" disabled=""></td>
                                        <td style="white-space: nowrap; width: 1%;">
                                            <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                                <div class="btn-group btn-group-sm" style="float: none;">
                                                    <button type="button"
                                                        onclick="PreUpdateGalleryCategory('@item.Id','@item.Name')"
                                                        class="tabledit-edit-button btn btn-success" style="float: none;">
                                                        <span class="mdi mdi-pencil">
                                                        </span>
                                                    </button>
                                                    <button onclick="DeleteGalleryCategory('@item.Id')"
                                                        class="btn btn-icon waves-effect waves-light btn-danger">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div> <!-- end .table-responsive-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>
    <!-- End -->
</div>

@section Scripts{

    @*Validation Js*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @*End*@

    <script>

        function Add() {
            if ($("#frmAddCate").valid()) {
                var name = $("#txtname").val();
                var postDate = {
                    'name': name,
                };

                $.ajax({
                    contentType: "application/x-www-form-urlencoded",
                    dataType: "json",
                    type: "POST",
                    data: postDate,
                    url: "PostCategory",
                    success: function (data) {
                        if (data.isSuccess) {
                            Swal.fire({
                                title: 'موفقیت!',
                                text: data.message,
                                icon: 'success',
                                confirmButtonColor: 'green',
                                confirmButtonText: 'متوجه شدم',
                            }).then((result) => {
                                if (result) {
                                    $("#txtname").val('');
                                    document.location.reload();
                                }
                            });
                        }
                        else {
                            Swal.fire({
                                title: 'خطا!',
                                text: data.message,
                                icon: 'error',
                                confirmButtonColor: 'red',
                                confirmButtonText: 'متوجه شدم',
                            }).then((result) => {
                                //
                            });
                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
        }

        function DeleteGalleryCategory(Id) {
            Swal.fire({
                title: 'حذف ذسته!',
                text: 'از حذف این دسته مطمئن هستید؟',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: 'red',
                confirmButtonText: 'بله, حذف شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    var id = Id;
                    var dataPost = {
                        'Id': id,
                    };
                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: 'DELETE',
                        data: dataPost,
                        url: 'Delete',
                        success: function (data) {
                            if (data.isSuccess) {
                                Swal.fire({
                                    title: 'موفقیت!',
                                    text: data.message,
                                    icon: 'success',
                                    confirmButtonColor: 'green',
                                    confirmButtonText: 'متوجه شدم',
                                }).then((result) => {
                                    if (result) {
                                        document.location.reload();
                                    }
                                });
                            }
                            else {
                                Swal.fire({
                                    title: 'خطا!',
                                    text: data.message,
                                    icon: 'error',
                                    confirmButtonColor: 'red',
                                    confirmButtonText: 'متوجه شدم',
                                }).then((result) => {
                                    //
                                });
                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                }
                else {
                    //Swal.fire('No');
                }
            });
        }

        function PreUpdateGalleryCategory(Id, Name) {
            $('#txtEditIdGalleryCategory').val(Id);
            $('#txtEditNameGalleryCategory').val(Name);
            $('#myModal').modal('show');
        }

        function UpdateGalleryCategory() {

            if ($("#frmEditCate").valid()) {
                var Id = $('#txtEditIdGalleryCategory').val();
                var Name = $('#txtEditNameGalleryCategory').val();
                var dataPost = {
                    'Id': Id,
                    'Name': Name,
                };

                $.ajax({
                    contentType: 'application/x-www-form-urlencoded',
                    dataType: 'json',
                    type: 'POST',
                    data: dataPost,
                    url: 'Update',
                    success: function (data) {
                        if (data.isSuccess) {
                            Swal.fire({
                                title: 'موفقیت!',
                                text: data.message,
                                icon: 'success',
                                confirmButtonColor: 'green',
                                confirmButtonText: 'متوجه شدم',
                            }).then((result) => {
                                if (result) {
                                    document.location.reload();
                                }
                            });
                        }
                        else {
                            Swal.fire({
                                title: 'خطا!',
                                text: data.message,
                                icon: 'error',
                                confirmButtonColor: 'red',
                                confirmButtonText: 'متوجه شدم',
                            }).then((result) => {
                                //
                            });
                        }
                    },
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                });
            }
        }

    </script>
}
@section Modals{
    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="frmEditCate" asp-action="Update" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">ویرایش دسته</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="txtEditIdGalleryCategory" />
                        <input asp-for="GalleryCategory[0].Name"
                           name="GalleryCategory[0].Name"
                           value=""
                           class="form-control"
                           id="txtEditNameGalleryCategory" />
                        <span asp-validation-for="GalleryCategory[0].Name" class="text-danger" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                        <button type="button"
                            onclick="UpdateGalleryCategory()"
                            class="btn btn-primary waves-effect waves-light">
                            ذخیره تغییرات
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}